<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
  <h1 class="text-light text-center fw-bold mb-5">About Us</h1>
  <div class="row">
    <div class="col-md-8">
      <h2>
        I'M
        <span class="name">
          Mario Shawky
        </span>
      </h2>
      <p>
        I work as a front-end developer. with a Course Certificate in Front-End JavaScript Frameworks: Angular. I
        specialize in creating dynamic and responsive web applications using WordPress, PHP, JavaScript, JQuery, VueJS,
        AngularJS, Typescript, SASS, UIkit and Bootstrap. With hands-on experience in web development, I have a strong
        command of HTML5 and CSS3, enabling me to craft user-friendly and visually appealing interfaces
      </p>
    </div>
    <div class="col-md-4">
      <img src="assets/img/MarioShawky.jpg" alt="About Us" class="img-fluid rounded">
    </div>
  </div>
</div>
